@model Traffic
@{
    ViewData["Title"] = "Edit";
}

<form method="post" asp-action="Edit">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2>ویرایش  تردد کاربر</h2>
            <hr />
        </div>
        <div class="mb-3">
            <label asp-for="EntryOrOut_Time"></label>
            <input asp-for="EntryOrOut_Time" class="form-control" />
            @*<span asp-validation-for="EntryOrOut_Time" class="text-bg-danger"></span>*@
        </div>
        <div class="mb-3">
            <label asp-for="Type_Traffic"></label>
            <input asp-for="Type_Traffic" class="form-control" />
            @*<span asp-validation-for="Type_Traffic" class="text-bg-danger"></span>*@
        </div>
        @*<div class="mb-3">
            <label asp-for="user"></label>
            <input asp-for="user" class="form-control" />
            @*<span asp-validation-for="user" class="text-bg-danger"></span>
        </div>*@

        <button type="submit" class="btn btn-outline-primary" style="width:150px">ثبت ویرایش</button>
        <a asp-controller="Traffic" asp-action="Index" class="btn btn-outline-secondary" style="width:200px">بازگشت به لیست </a>
    </div>
</form>

